* {
    background-color: black;
    color:antiquewhite;
}

h1 {
    font-family: Merriweather, sans-serif;
}

h1, p {
    text-align: center;
}

p {
    font-family: EB Garamond, serif;
}

#img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-bottom: none;
}
img {
    max-width: 100%;
    height: auto;
}

#img-caption {
    margin-top: none;
    font-size: 14px;
}

#img-caption > p {
    margin-top: 0%;
}


#tribute-info {
        text-align: center; 
        max-width: 800px; 
        margin: 20px auto; 
        padding: 10px; 
        line-height: 1.6; 
        font-size: 16px;
    
}

